/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/* #endregion Common */


/* #region Header */

/* #endregion Header */

/* #region Main */
.num_generator {
    width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-around;
    background-color: red;
}

.slot {
    font-size: 1.5rem;
    border: 1px soldi black;
    width: 30px;
    height: 30px;
}
/* #endregion Main */

/* #region Footer */

/* #endregion Footer */